
@{
    ViewBag.Title = "Формирование маршрута";
}
<form method="post" action="/routes/complete">
    @{
        //  Layout = null;//для представления не используется мастер-страница
    }
    <h3>Формирование маршрута</h3>
    <table>
        <tr><td><b><label>Дата маршрута</label></b></td><td><input name=date1 type="date" required></td></tr>
        <tr><td><b><label>Номер маршрута</label></b></td><td><input name=id required></td></tr>
        <tr>
            <td><b><label>Тип маршрута</label></b></td>
            <td>
                <script>
                    function update(e, targetId) {
                        let target = document.getElementById(targetId);
                        let ob = e.options[e.selectedIndex]
                        target.value = `${ob.text}`
                    }</script>


                <select required id="a1" name="type" onchange="update(event.target, 'b1')">
                    <option value='' selected>Выберите тип маршрута</option>
                    @foreach (var wag in ViewBag.listRoutes)
                    {


                        <option value="@wag.Id">@wag.Name</option>


                    }
                </select>
            </td>
        </tr>
        <tr>
            <td><b><label>Вертушки</label></b></td>
            <td>
                <script>
                    function update(e, targetId) {
                        let target = document.getElementById(targetId);
                        let ob = e.options[e.selectedIndex]
                        target.value = `${ob.text}`
                    }</script>


                <select required id="a2" name="vert" onchange="update(event.target, 'b2')">
                    <option value='' selected>Выберите вертушку</option>
                    @foreach (var wag in ViewBag.listTurntables)
                    {


                        <option value="@wag.Id">@wag.Name</option>


                    }
                </select>
            </td>
        </tr>
        <tr>
            <td><b><label>Код станции отправителя</label></b></td>
            <td>
                <script>
                    function update(e, targetId) {
                        let target = document.getElementById(targetId);
                        let ob = e.options[e.selectedIndex]
                        target.value = `${ob.text}`
                    }</script>


                <select required id="a3" name="codest" onchange="update(event.target, 'b3')">
                    <option value='' selected>Выберите тип маршрута</option>
                    @foreach (var wag in ViewBag.listStations)
                    {


                        <option value="@wag.Id">@wag.Name</option>


                    }
                </select>
            </td>
        </tr>
        <tr>
            <td><b><label>Код ж.д.дороги</label></b></td>
            <td>
                <script>
                    function update(e, targetId) {
                        let target = document.getElementById(targetId);
                        let ob = e.options[e.selectedIndex]
                        target.value = `${ob.text}`
                    }</script>


                <select required id="a4" name="coderote" onchange="update(event.target, 'b4')">
                    <option value='' selected>Выберите дорогу</option>
                    @foreach (var wag in ViewBag.listRoads)
                    {


                        <option value="@wag.Id">@wag.Name</option>


                    }
                </select>
            </td>
        </tr>
        <tr>
            <td><b><label>Потребитель</label></b></td>
            <td>
                <script>
                    function update(e, targetId) {
                        let target = document.getElementById(targetId);
                        let ob = e.options[e.selectedIndex]
                        target.value = `${ob.text}`
                    }</script>


                <select required id="a5" name="potreb" onchange="update(event.target, 'b5')">
                    <option value='' selected>Выберите потребителя</option>
                    @foreach (var wag in ViewBag.listConsumers)
                    {


                        <option value="@wag.Id3">@wag.Name</option>


                    }
                </select>
            </td>
        </tr>
        <tr>
            <td><b><label>Код потребителя 4</label></b></td>
            <td>
                <script>
                    function update(e, targetId) {
                        let target = document.getElementById(targetId);
                        let ob = e.options[e.selectedIndex]
                        target.value = `${ob.text}`
                    }</script>


                <select required id="a6" name="codepotreb" onchange="update(event.target, 'b6')">
                    <option value='' selected>Выберите потребителя </option>
                    @foreach (var wag in ViewBag.listConsumers)
                    {


                        <option value="@wag.Id4">@wag.Name</option>


                    }
                </select>
            </td>
        </tr>
        <tr><td><b><label>Время предъявления маршрута</label></b></td><td><input type="time" id="appt" name="timepr" required></td></tr>
        <tr><td><b><label>Время сдачи маршрута</label></b></td><td><input type="time" id="appt" name="timedel" required></td></tr>
        <tr><td><b><label>Время закрытия суток по КПТУ и КТЖ</label></b></td><td><input type="time" id="appt" name="timeclose"  required></td></tr>

    </table>
    @{

    }
    <button type="submit" value="">Добавить</button>
    <button type="button" onclick="javascript:history.go(-1);">Назад</button>



</form>