
@{
    ViewBag.Title = "Ж/д дороги";
}

<h2>Ж/д дороги</h2>
<button>
    @Html.ActionLink("Добавить", "RailroadsCreate", "Directory", new { }, null)
</button>
<button type="submit" value="" onclick="location.href='/Home/Directory'">Назад</button>
<br />
<br />

<table border="1">
    <thead>

        <tr>
            <td><b>Код</b></td>
            <td><b>Наименование</b></td>
            <td><b>Информация</b></td>

        </tr>
    </thead>
    <tbody>


        @foreach (var wag in ViewBag.a)
        {
            <tr>

                <td>@Html.ActionLink((string)wag.Id.ToString(), "RailroadsChange", "Directory", new { id = @wag.Id }, null)  </td>
                <td>@Html.ActionLink((string)wag.Name.ToString(), "RailroadsChange", "Directory", new { id = @wag.Id }, null)  </td>
                <td>@Html.ActionLink((string)wag.About.ToString(), "RailroadsChange", "Directory", new { id = @wag.Id }, null)  </td>
            </tr>
        }


    </tbody>
</table>

